
<div class="p-5 mb-4 bg-light rounded-3">
 <%= render @friend %>
<%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-dark" %>
  <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>

<br><br/>
  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-secondary" %>
</div>




